<mat-sidenav-container class="main-container">
  <mat-sidenav 
    #sidenav
    [mode]="sidenavMode" 
    [opened]="sidenavOpened"
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0">
    <app-sidebar (closeSidenav)="closeSidenav()"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header 
      (toggleSidenav)="toggleSidenav()"
      [showMenuButton]="showMenuButton">
    </app-header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>