node_modules
package-lock.json
dist
.env
.vscode
.DS_Store
.idea
*.log
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
*.tsbuildinfo
# Angular
.angular
out-tsc
# IDEs and editors
    